* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

button {
  cursor: pointer;
}


.header {
  padding: 15px 30px;
  border-bottom: 1px solid rgb(235, 235, 235);

  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items:center;

}

.header div {
  padding: 0px 10px 10px 0px;
}

.logo {
  flex-grow: 0.25;
  text-align: center;
  cursor: pointer;
}

.search {
  flex-grow: 2;


}

.location {
  flex-grow: 0.5;
}

.inbox {
  width: 50px;              
  height: 50px;
  display: flex;               /* enables flex centering */
  justify-content: center;     /* horizontal centering */
  align-items: center;         /* vertical centering */
  background-color: #fff;      /* optional: white background */
  cursor: pointer; 
}

.inbox img {
  width: 24px;                 /* fixed size for the icon */
  height: 24px;
  object-fit: contain;         /* keep aspect ratio */
  display: block;  
  
}
.inbox button {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #15733F;
  border-radius: 9999px;
  background-color: #ffffff; 
  color: #15733F;
  font-size: 14px;

}

.saved button {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #15733F;
  border-radius: 9999px;
  background-color: #ffffff; 
  color: #15733F;
  font-size: 14px;

}


.cart {
  flex-grow: 0;
}

.cart button {
  width: 100%;
  padding: 10px 16px;
  border: none;
  border-radius: 9999px;
  background-color: #15733F; 
  color: #ffffff;
  outline: none;
  font-size: 14px;
}

.location button {
  width: 100%;
  padding: 10px 16px;
  border: none;
  border-radius: 9999px;
  background-color: #ececec; 
  color: #333;
  outline: none;
  font-size: 14px;
}

.search input {
      width: 100%;
      padding: 10px 16px;
      border: none;
      border-radius: 9999px;
      background-color: #ececec; /* light grey */
      color: #333; /* dark grey text */
      font-size: 14px;
      font-weight: 
      outline: none;
    }

.search input::placeholder {
  color: #666; /* softer grey for placeholder */
}